---
name: PR validation
on:
  pull_request:

jobs:
  validate:
    uses: AdobeDocs/adp-devsite-workflow/.github/workflows/validate-pr.yml@pr-validation
    with:
      pr_number: ${{ github.event.pull_request.number }}
      base_ref: ${{ github.event.pull_request.base.ref }}
